<h1>home</h1>
<div class="container">
    <div class="search">
        <form action="/artist-search" method="get">
            <label for="search"></label>
            <input type="search" name="search" id="search" placeholder="Your Artist in here!">
            <button type="submit">Search for a Artist</button>
        </form>
    </div>
</div>